@import "css-viewports";

.wps-whatsapp {
	--whatsapp-background-color: #3fbb4f;
	--whatsapp-background-color-hover: #32953f;
	--whatsapp-text-color: #fff;

	&.is-aligned-center {
		text-align: center;
	}

	&.is-aligned-right {
		text-align: right;
	}

	&:not(.show-on-desktop):not([data-type="wps/whatsapp-button"]) {
		@media (--viewport-desktop) {
			display: none;
		}
	}

	& .wps-whatsapp__symbol .decoration-icon {
		display: block;
		height: 1rem;
		line-height: 1;
		width: auto;
	}

	& .wps-whatsapp__link.wp-block-button__link {
		background-color: var(--whatsapp-background-color);
		color: var(--whatsapp-text-color);
		cursor: pointer;
		display: inline-block;
		transition: all 150ms ease-in-out;

		&:hover {
			text-decoration: none;
			--whatsapp-background-color: var(--whatsapp-background-color-hover);
		}
	}

	& .wps-whatsapp__inner {
		align-items: center;
		display: flex;

		& > *:first-child {
			margin-right: 6px;
		}

		& > *:last-child {
			margin-right: 0;
		}
	}
}
