.custom-media-inserter {
	display: block;
	margin: 0 auto;
}

.image {
	overflow: hidden;
	position: relative;

	& button {
		background-color: #fff;
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

.alignfull .image,
[data-align="full"] .image {
	border-radius: 0;
}

.image-wrapper,
.entry-content > .image-wrapper {
	margin: 0;

	& .dam-image {
		&::before {
			content: "";
			display: block;
			padding-top: 49.5%;
		}

		& button {
			background-color: #fff;
			position: absolute;
			right: 20px;
			top: 20px;
		}

		& img,
		& video {
			height: 100%;
			left: 0;
			object-fit: cover;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	& .caption {
		color: #ccc;
		font-size: 16px;
		margin: 8px 0;
	}
}
