@import "css-viewports";

.media-banner {
	--media-banner-content-width: 100%;

	@media (--viewport-wide) {
		--media-banner-content-width: 50%;
	}
	display: flex;
	overflow: hidden;
	position: relative;

	& > .block-editor-block-list__layout {
		width: 100%;
	}
}

.media-banner__background {
	--banner-background-position: center;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	& img {
		height: 100%;
		object-fit: cover;
		object-position: var(--banner-background-position);
		width: 100%;
	}
}

.media-banner-content__overlay {
	--banner-overlay-offset: 0;
	--banner-overlay-offset-width: 100%;
	height: 100%;
	left: var(--banner-overlay-offset);
	position: absolute;
	top: 0;
	width: var(--banner-overlay-offset-width);

	@media (--viewport-wide) {
		--banner-overlay-offset-width: var(--media-banner-content-width);
		--banner-overlay-offset: calc(100% - var(--media-banner-content-width));
	}
}

.media-banner-content {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-width: var(--media-banner-content-max-width);
	position: relative;
	width: var(--media-banner-content-max-width);
	--media-banner-content-max-width: 100%;

	@media (--viewport-wide) {
		--media-banner-content-max-width: var(--media-banner-content-width);
		margin-left: auto;
		min-height: var(--media-banner-content-min-height, auto);
	}

	&.is-vertical-align-top {
		justify-content: flex-start;
	}

	&.is-vertical-align-center {
		justify-content: center;
	}

	&.is-vertical-align-bottom {
		justify-content: flex-end;
	}

}

.media-banner-content__inner {
	margin-left: var(--media-banner-content-offset);
	width: 100%;
	--banner-overlay-offset: 0;
}

.media-banner-content--limit-width .media-banner-content__inner {
	max-width: var(--media-banner-content-max-width);

	@media (--viewport-wide) {
		--media-banner-content-max-width: calc(var(--wp--style--global--wide-size, 1550px) / 2);
		margin-left: var(--media-banner-content-offset);
	}
}

.media-banner--swap-layout {
	& .media-banner-content {
		margin-left: 0;
		margin-right: auto;
	}

	& .media-banner-content__inner {
		margin-left: auto;
		margin-right: var(--media-banner-content-offset);
	}
}
