.wps-blocks-media-slider {
	background: repeating-linear-gradient(-55deg, #f9f9f9, #fff 10px, #f9f9f9 10px, #f9f9f9 20px);
	border: 5px solid #f0f0f0;
	padding: 10px;
}

.wps-blocks-media-slider .block-editor-block-list__layout {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);

	@media (min-width: 90em) {
		grid-template-columns: repeat(4, 1fr);
	}

	& > .block-editor-block-list__block {
		min-height: 150px;
		width: 100%;
	}
}
