@import "css-viewports";
@import "./components/desktop-menu.css";
@import "./components/mobile-menu.css";

.wps-navigation,
.wps-navigation-mobile {
	--hamburger-color: currentColor;
	--menu-transition: 0.3s;
	--menu-item-padding: 0.5rem;

	height: 100%;

	& .visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	& .menu-item a {
		text-decoration: none;
		transition: all var(--menu-transition) ease 0s;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		& > .menu-item {
			display: block;
			position: relative;

			& > a {
				display: block;
				padding: var(--menu-item-padding);
			}

		}
	}
}

.wps-navigation-mobile {
	display: flex;

	@media (--viewport-desktop) {
		display: none;
	}
}

.wps-navigation {
	display: none;

	@media (--viewport-desktop) {
		display: block;
	}

	&.is-style-underline {
		--menu-item-padding: 0.8rem 1rem;

		& .sub-menu .menu-item a::after {
			width: 0;
		}

		& .menu-item.current-menu-item > a::after,
		& .menu-item.current-menu-ancestor > a::after {
			width: 100%;
		}

		& .sub-menu .menu-item:not(.call-to-action) a::after,
		& .menu-item.current-menu-item:not(.call-to-action) > a::after,
		& .menu-item.current-menu-ancestor:not(.call-to-action) > a::after {
			background-color: currentColor;
			bottom: 2px;
			content: "";
			height: 2px;
			left: 0;
			position: absolute;
			transition: all var(--menu-transition) ease 0s;
		}

		& .sub-menu .menu-item:hover a::after {
			width: 100%;
		}
	}

	& .wps-navigation-menu {
		margin: 0 auto;
	}
}

.wps-navigation:not(.is-style-underline) {
	& .menu-item a {
		color: var(--menu-color);
	}
}

.wps-navigation .wps-navigation-menu .menu-item.call-to-action {
	background-color: var(--wp--preset--color--cta-one);
	filter: drop-shadow(1px 0 0.7rem rgba(0, 0, 0, 0.1));
	font-weight: 600;
	margin-left: auto;
	transition: filter 0.5s ease-in-out;
}

.wps-navigation .wps-navigation-menu .menu-item.call-to-action:hover {
	filter: saturate(2.2) grayscale(0.1) drop-shadow(1px 0 0.7rem rgba(0, 0, 0, 0.3));
}
