.wps-contact-info {
	display: block;
}

.wps-contact-info__list,
[data-type="wps/contact-info"] .wps-contact-info__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.has-icon .wps-contact-info__list {
	& .wps-contact-info__list-item {
		& .decoration-icon {
			color: currentColor;
			display: inline-block;
			height: 0.95rem;
			line-height: 1;
			margin-right: 0.3em;
			vertical-align: middle;
		}
	}

	& a {
		text-decoration: none;
	}
}
