@import "css-viewports";

body {
	--site-width: var(--wp--style--global--content-size, 1228px);
	--content-width: var(--wp--style--global--content-size, 1228px);
	--content-width-wide: var(--wp--style--global--wide-size, 1550px);
	--site-spacing: calc(var(--wp--preset--spacing--normal, 24px) / 2);
	--spacing-tiny: var(--wp--preset--spacing--tiny, 6px);
	--spacing-small: var(--wp--preset--spacing--small, 12px);
	--spacing-normal: var(--wp--preset--spacing--normal, 24px);
	--spacing-large: calc(var(--wp--preset--spacing--large, 60px) / 2);
	--spacing-huge: calc(var(--wp--preset--spacing--huge, 80px) / 2);
	--site-block-spacing: var(--wp--preset--spacing--normal, 24px);
	--background-color-body: var(--wp--preset--color--base, #fff);

	@media (--viewport-lap-and-up) {
		--site-spacing: var(--wp--preset--spacing--normal, 24);
		--spacing-large: var(--wp--preset--spacing--large, 60px);
		--spacing-huge: var(--wp--preset--spacing--huge, 80px);
	}
}

.editor-styles-wrapper {
	--site-width: var(--wp--style--global--content-size, 1228px);
	--content-width: var(--wp--style--global--content-size, 1228px);
	--content-width-wide: var(--wp--style--global--wide-size, 1550px);
	--site-spacing: calc(var(--wp--preset--spacing--normal, 24px) / 2);
	--spacing-tiny: var(--wp--preset--spacing--tiny, 6px);
	--spacing-small: var(--wp--preset--spacing--small, 12px);
	--spacing-normal: var(--wp--preset--spacing--normal, 24px);
	--spacing-large: calc(var(--wp--preset--spacing--large, 60px) / 2);
	--spacing-huge: calc(var(--wp--preset--spacing--huge, 80px) / 2);
	--site-block-spacing: var(--wp--preset--spacing--normal, 24px);

	@media (--viewport-lap-and-up) {
		--site-spacing: var(--wp--preset--spacing--normal, 24px);
		--spacing-large: var(--wp--preset--spacing--large, 60px);
		--spacing-huge: var(--wp--preset--spacing--huge, 80px);
	}
}

.has-padding-vertical,
.u-padding-vertical {
	&-tiny {
		padding-bottom: var(--wp--preset--spacing--tiny, 6px);
		padding-top: var(--wp--preset--spacing--tiny, 6px);
	}

	&-small {
		padding-bottom: var(--wp--preset--spacing--small, 12px);
		padding-top: var(--wp--preset--spacing--small, 12px);
	}

	&-normal {
		padding-bottom: var(--wp--preset--spacing--normal, 24px);
		padding-top: var(--wp--preset--spacing--normal, 24px);
	}

	&-large {
		padding-bottom: var(--wp--preset--spacing--large, 60px);
		padding-top: var(--wp--preset--spacing--large, 60px);
	}

	&-huge {
		padding-bottom: var(--wp--preset--spacing--huge, 80px);
		padding-top: var(--wp--preset--spacing--huge, 80px);
	}
}

.has-padding-horizontal,
.u-padding-horizontal {
	&-tiny {
		padding-left: var(--wp--preset--spacing--tiny, 6px);
		padding-right: var(--wp--preset--spacing--tiny, 6px);
	}

	&-small {
		padding-left: var(--wp--preset--spacing--small, 12px);
		padding-right: var(--wp--preset--spacing--small, 12px);
	}

	&-normal {
		padding-left: var(--wp--preset--spacing--normal, 24px);
		padding-right: var(--wp--preset--spacing--normal, 24px);
	}

	&-large {
		padding-left: var(--wp--preset--spacing--large, 60px);
		padding-right: var(--wp--preset--spacing--large, 60px);
	}

	&-huge {
		padding-left: var(--wp--preset--spacing--huge, 80px);
		padding-right: var(--wp--preset--spacing--huge, 80px);
	}
}

.has-padding {
	&-general {
		&-tiny {
			padding: var(--wp--preset--spacing--tiny, 6px) !important;
		}

		&-small {
			padding: var(--wp--preset--spacing--small, 12px) !important;
		}

		&-normal {
			padding: var(--wp--preset--spacing--normal, 24px) !important;
		}

		&-large {
			padding: var(--wp--preset--spacing--large, 60px) !important;
		}

		&-huge {
			padding: var(--wp--preset--spacing--huge, 80px) !important;
		}

		&-none {
			padding: 0 !important;
		}
	}
}

.has-margin {
	&-top {
		&-tiny {
			margin-top: var(--wp--preset--spacing--tiny, 6px) !important;
		}

		&-small {
			margin-top: var(--wp--preset--spacing--small, 12px) !important;
		}

		&-normal {
			margin-top: var(--wp--preset--spacing--normal, 24px) !important;
		}

		&-large {
			margin-top: var(--wp--preset--spacing--large, 60px) !important;
		}

		&-huge {
			margin-top: var(--wp--preset--spacing--huge, 80px) !important;
		}

		&-none {
			margin-top: 0 !important;
		}
	}

	&-bottom {
		&-tiny {
			margin-bottom: var(--wp--preset--spacing--tiny, 6px) !important;
		}

		&-small {
			margin-bottom: var(--wp--preset--spacing--small, 12px) !important;
		}

		&-normal {
			margin-bottom: var(--wp--preset--spacing--normal, 24px) !important;
		}

		&-large {
			margin-bottom: var(--wp--preset--spacing--large, 60px) !important;
		}

		&-huge {
			margin-bottom: var(--wp--preset--spacing--huge, 80px) !important;
		}

		&-none {
			margin-bottom: 0 !important;
		}
	}
}

.has-background {
	background-size: cover;

	&.background-is-no-repeat {
		background-repeat: no-repeat;
		background-size: auto;
	}

	&.background-is-repeat {
		background-repeat: repeat;
		background-size: auto;
	}

	&.background-is-contain {
		background-repeat: no-repeat;
		background-size: contain;
	}
}
