[data-type="wps/grid-column"] {
	/*overflow: hidden;*/

	& .wps-grid-column__overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.is-selected [data-type="wps/grid-column"] {
	outline: 2px dashed #ccc;
}

.wp-block-wps-grid-column > .wps-grid-column__inner > .block-editor-inner-blocks > .block-editor-block-list__layout {
	--content-width: 100%;
	box-sizing: border-box;
}
